# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Generated prediction data
results/**/predictions/